{% load django_bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bleague Dashboard</title>
    <link rel="stylesheet" href="{% static 'bleague_analysis/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bleague_analysis/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bleague_analysis/css/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'bleague_analysis/css/styles.css' %}">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="{% url 'top' %}"><span>B-league</span>Analysis</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="divider"></div>
        <ul class="nav menu" style="display: flex; flex-direction: column;">
            <li class="active"><a href="{% url 'top' %}"><em class="fa fa-dashboard">&nbsp;</em> 全体順位 </a></li>
            <li><a href="{% url 'district_rankings' %}"><em class="fa fa-calendar">&nbsp;</em> 地区順位 </a></li>
            <li class="parent "><a data-toggle="collapse" href="#sub-item-1">
                <em class="fa fa-navicon">&nbsp;</em> チーム詳細 
                <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span></a>
                <ul class="children collapse" id="sub-item-1">
                    {% for team in team_list %}
                        <li><a class="" href="{% url 'team_detail' team.bleague_id %}">
                            <span class="fa fa-arrow-right">&nbsp;</span> {{ team.name }}
                        </a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'district_rankings' %}"><em class="fa fa-calendar">&nbsp;</em> 選手詳細 </a></li>
            <li><a href="{% url 'district_rankings' %}"><em class="fa fa-calendar">&nbsp;</em> 順位変動 </a></li>
            <li><a href="{% url 'district_rankings' %}"><em class="fa fa-calendar">&nbsp;</em> 選手比較 </a></li>
        </ul>
    </div><!--/.sidebar-->
    
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">全体順位</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">全体順位</h1>
			</div>
		</div><!--/.row-->
		

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Team</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Total Games</th>
                                <th>Win Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in standings_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <th><a href="{% url 'team_detail' team.bleague_id %}" class="team-link">{{ team.name }}</a></th>
                                    <td>{{ team.wins }}</td>
                                    <td>{{ team.loses }}</td>
                                    <td>{{ team.total_games }}</td>
                                    <td>{{ team.win_percentage|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
				</div>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->
	
	<script src="{% static 'bleague_analysis/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/chart.min.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/chart-data.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/easypiechart.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/easypiechart-data.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'bleague_analysis/js/custom.js' %}"></script>
	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
		
</body>
</html>